{% extends 'base.html' %}


{% block title %}
    Ближайшие семинары
{% endblock title %}


{% block content %}
    <div class="container bg-white p-4">
        <h1 class="display-4 text-secondary mt-0 mb-4">Ближайшие семинары</h1>
        {% for seminar in upcoming_seminars %}
            <div class="lesson-item upcoming-lesson-item bg-white shadow">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <a href="{{ seminar.seminar.get_absolute_url }}" title="" class="lesson-item-img d-block h-100" style="background-image: url('{{ seminar.seminar.image.url }}');">
                            {% if seminar.date_start.month == seminar.date_end.month %}
                                <div class="upcoming-lesson-item-date px-3 py-2">
                                    <span class="ulid-day mr-1">{{ seminar.date_start.day }}-{{ seminar.date_end.day }}</span>
                                    <span class="ulid-month">{{ seminar.date_start|date:"E"|lower }}</span><br>
                                    <span class="ulid-place d-block">г. {{ seminar.city }}</span>
                                </div>
                            {% else %}
                                <div class="upcoming-lesson-item-date px-3 py-2">
                                    c <span class="ulid-day mr-1">{{ seminar.date_start.day }}</span>
                                    <span class="ulid-month">{{ seminar.date_start|date:"E"|lower }}</span><br>
                                    по <span class="ulid-day mr-1">{{ seminar.date_end.day }}</span>
                                    <span class="ulid-month">{{ seminar.date_end|date:"E"|lower }}</span>
                                    <span class="ulid-place d-block">г. {{ seminar.city }}</span>
                                </div>
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="lesson-item-caption p-4 pl-md-0">
                            <span class="d-block mb-2">{{ seminar.seminar.days_number }} дня(ей) / {{ seminar.seminar.hours_number }} академических часов</span>
                            <h3 class="mt-0 mb-3"><a class="text-secondary d-block" href="{{ seminar.seminar.get_absolute_url }}" title="">{{ seminar.seminar.title }}</a></h3>
                            <p>{{ seminar.seminar.description|truncatechars:380|striptags }}</p>
                            <a class="link-more" href="{{ seminar.seminar.get_absolute_url }}" title="">узнать больше »</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}