{% extends 'base.html' %}


{% block title %}
    Все статьи
{% endblock title %}


{% block content %}
    <div class="container bg-white p-4">
        <h1 class="display-4 text-secondary mt-0 mb-4">Статьи</h1>
        <div class="row">
            {% for article in all_articles %}
                <div class="col-lg-4 col-md-6">
                    <div class="article-item shadow">
                        <a href="{{ article.get_absolute_url }}" class="article-item-img d-flex align-items-center px-4 py-5" style="background-image: url('{{ article.image.url }}');">
                            <h3 class="m-0">{{ article.title }}</h3>
                        </a>
                        <div class="article-item-caption px-4 pb-4 pt-3">
                            <p>{{ article.text|truncatechars:300|striptags }}</p>
                            <a class="link-more" href="{{ article.get_absolute_url }}" title="">читать полностью »</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}