{% extends 'base.html' %}


{% block title %}
    {{ article.title }}
{% endblock title %}


{% block content %}
    <div class="container bg-white p-4">
        <div class="row justify-content-left">
            <div class="col-xl-8 col-lg-10">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'all_articles' %}">Все статьи</a></li>
                    <li class="breadcrumb-item active">{{ article.title }}</li>
                </ol>
                <article class="mb-5">
                    {{ article.text|safe }}
                </article>

            </div>
        </div>
    </div>
{% endblock content %}