{% load static %}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="mb-3">2019 © Доктор Алексей Лапин</p>
            </div>

            <div class="col-sm-6">
                <a class="devlogo ml-sm-auto" href="http://wlms.info" target="_blank">
                    <img src="{% static 'images/devlogo.png' %}" alt="...">
                    <div class="devlogo-text">
                        <span>Webline Masters</span>
                        <span>создание и продвижение сайтов</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>